.container{
	width: 100%;
	min-height: 100vh;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 11;
}
.bodyModal{
	display: flex;
	flex-direction: column;
	justify-content:center;
	padding: 2rem;
	width: 90%;
	height: auto;
	border-radius: 2rem;
	position: absolute;
	background-color: var(--white);

}
.containerButtonClose{
	margin-top: 0;
	position: relative;
	top: 0%;
	z-index: 11;
	width: 95%;
	height: auto;
	display: flex;
	justify-content: end;
	align-items: start;
}
.buttonClose{
	width: 2.5rem;
	height: 2.5rem;
	background-color: transparent;
	border: none;
	
}
.buttonClose img{
	width: 2.5rem;
	height: 2.5rem;

}
@media (width>768px) { 
	.bodyModal{
		width: 50rem;
		height: auto;
	}

}
