.header{
	padding:1rem 2rem;
	width: 100%;
	max-height: 6rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
	background-color: var(--white);
	font-family: 'Raleway',sans-serif;
}
.itemHeader img{
	width: 2rem;
	object-fit: cover;
}
.itemHeader{
	width: 3rem;
	background-color: var(--white);
	align-items: center;
	font-family: 'Raleway',sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	display:flex;
	align-items: center;
	flex-direction: column;
	margin-right: 3rem;
	border: none;
}
.Home{
	border: none;
	border-bottom: 2px solid var(--primary);
	width: 3rem;
	align-items: center;
	font-family: 'Raleway',sans-serif;
	font-weight: 500;
	display:flex;
	align-items: center;
	flex-direction: column;
	margin-right: 2rem;
	background-color: var(--white);
}
.Home img{
	width: 2rem;
	object-fit: cover;
}
.containerLogo{
	display: flex;
	gap: 2rem;
}
.containerLogo img{
	width: 5rem;
	height: 5rem;
	object-fit: contain;
}
.Routines{
	border: none;
	border-bottom: 2px solid var(--primary);
	width: 3rem;
	align-items: center;
	font-family: 'Raleway',sans-serif;
	font-weight: 500;
	display:flex;
	align-items: center;
	flex-direction: column;
	margin-right: 2rem;
	background-color: var(--white);

}
.Forum{
	border: none;
	border-bottom: 2px solid var(--primary);
	width: 3rem;
	align-items: center;
	font-family: 'Raleway',sans-serif;
	font-weight: 500;
	display:flex;
	align-items: center;
	flex-direction: column;
	margin-right: 2rem;
	background-color: var(--white);
}
.actions{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.Forum img{
	width: 2rem;
	object-fit: cover;
}
.Routines img{
	width: 2rem;
	object-fit: cover;
}
.buttons{
	display: flex;
	align-items: center;
	gap: 1rem;
}
a{
	text-decoration: none;
	border: none;
	background-color: var(--white);
}
.buttonLogin{
	width: 15rem;
	border: none;
	border-radius:1rem ;
	background-color: var(--primary);
	color: var(--white);
	height: 4rem;
	font-weight: 500;
}
.buttonSignUp{
	width: 15rem;
	border: none;
	border-radius:1rem ;
	background-color: transparent;
	border: 1px solid var(--secondary);
	color: var(--secondary);
	height: 4rem;
	font-weight: 500;
}

@media (width>1100px) { 
	.header{
		display: flex;
		justify-content: space-around;
	}
	.header div{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.itemHeader:hover{
		background-color: #e5e5e5;
		border-radius: 100%;
		width: 4rem;
	}
}