.container{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f5f2ef;
}
h2{
	margin-top: 2rem;
	text-align: center;
	font-family: "Roboto",sans-serif;
	width: 90%;
}
.filterPostContainer h3{
	text-align: center;
	font-size: 2rem;
	font-family: "Roboto",sans-serif;
}
p{
	font-family: 'Raleway',sans-serif;

}
.filterPostContainer{
	padding: 2rem;
	margin-top: 2rem;
	margin-bottom:2rem ;
	width: 95%;
	max-width: 38rem;
	background-color: var(--white);
	height: 14rem;
}
.buttonActions{
	display: flex;
	align-items: center;
	overflow-x: scroll;
	gap: 1rem;
	margin-top: 2rem;
}
.buttonActions::-webkit-scrollbar {
	background-color: transparent;    /* color of the scroll thumb */
}
.post{
	position: relative;
	width: 90%;
	height: 18rem;
	display: flex;
	gap: 2rem;
	align-items: center;
	background-color: var(--white);
	border-radius: 2rem;
	margin: 0 auto;
	padding: 1rem;
	-webkit-box-shadow: 10px 10px 48px -22px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 48px -22px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 48px -22px rgba(0,0,0,0.75);
	margin-bottom: 2rem;
}
.user{
	color: #b2b2b2;
	padding: 0.5rem 0  0.5rem 0;
}
.post h3{
	padding: 0.5rem;
	border-bottom: 2px solid #e5e5e5;
	font-family: "Roboto",sans-serif;

}
.likeContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}
.likeContainer div{
	display: flex;
	align-items: center;
	gap: 1rem;
}
.post img{
	max-width: 8rem;
}
.preview{
	height: 6rem;
	overflow: hidden;
}

.replies{
	color: #b2b2b2;
	font-weight: 700;
}
.grid2{
	display: flex;
	flex-direction: column;
	align-items: center;

}
@media (width > 768px) { 
	.container{
		display: grid;

	}
	.post{
		width: 70rem;
	}
	.filterPostContainer{
		width: 85%;
		max-width: none;
	}

}
