:root{
  --primary:#ff8c42;
  --secondary:#3581b8;
  --tertiary:#E9E9E9;
  --white:#FFFFFF;
  --black:#000000;
  --backgroundInput:rgba(221,222,238,0.50);

}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;


}
.containerLayout{
	background-color: #dbdbdb;
	width: 100%;
	min-height: 100vh;
	height: 100vh;
	max-height: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
	padding: 0;
	margin: 0;
}