.buttonSend{
	width: 100%;
	height: 5rem;
	background-color: var(--primary);
	color: var(--white);
	border: none;
	border-radius: 1rem;
	font-weight: 700;
	margin-top: 2rem;
}

/**********  STYLES BUTTON ADD ROUTINE *****************/
.buttonAdd{
	position: fixed;
	top: 80%;
	left: 70%;
	width: 8rem;
	height: 8rem;
	border: none;
	background-color: var(--primary);
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-behavior:smooth;
}
/**********  STYLES BUTTON FILTER POST *****************/

.buttonFilter{
	font-family: 'Raleway',sans-serif;
	min-width: 40%;
	width: 40%;
	height: 6rem;
	background-color:#f9f9f9;
	border-radius: 1rem;
	color: var(--primary);
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}
/**********  STYLES BUTTON LIKE  *****************/

.like{
	background-color: transparent;
	width: 3rem;
	height: 3rem;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.like img{
	width: 3rem;
	max-width: 3rem;
}
/**********  END STYLES BUTTON ADD ROUTINE *****************/
@media (width>768px) { 
	.buttonAdd{
		left: 90%;
		top: 90%;
	}
	.buttonFilter{
		min-width: 20%;
		width: 20%;
	}
	.buttonFilter:hover{
		
		background-color: var(--primary);
		color: var(--white);
	}
}